configData.json    filter=keyfilter
*.resS filter=lfs diff=lfs merge=lfs -text
*.assets.resS filter=lfs diff=lfs merge=lfs -text
*.resS*
Adding[[:space:]]path[[:space:]]*.resS
$[[:space:]]git[[:space:]]add[[:space:]]path/to/file.resS
git[[:space:]]commit[[:space:]]-m[[:space:]]add filter=lfs diff=lfs merge=lfs -text
file.resS filter=lfs diff=lfs merge=lfs -text
.resS filter=lfs diff=lfs merge=lfs -text
*11d filter=lfs diff=lfs merge=lfs -text
*.11d filter=lfs diff=lfs merge=lfs -text
*ArtifactDB filter=lfs diff=lfs merge=lfs -text
